<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Wonderlays</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="manifest" href="site.webmanifest">
        <link rel="apple-touch-icon" href="icon.png">
        <!-- Place favicon.ico in the root directory -->
        <link href="https://fonts.googleapis.com/css?family=Oswald:400,700" rel="stylesheet">
        <link rel="stylesheet" href="styles.css">
    </head>
    <body data-token="<%- token %>" data-socket-token="<%- socket_token %>">
      
      <div id="root"></div>

      <!--
        Note: this page is a great way to try React but it's not suitable for production.
        It slowly compiles JSX with Babel in the browser and uses a large development build of React.

        To set up a production-ready React build environment, follow these instructions:
        * https://reactjs.org/docs/add-react-to-a-new-app.html
        * https://reactjs.org/docs/add-react-to-an-existing-app.html

        You can also use React without JSX, in which case you can remove Babel:
        * https://reactjs.org/docs/react-without-jsx.html
        * https://reactjs.org/docs/cdn-links.html
      -->
      <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
      <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
      <script src="https://unpkg.com/react-router-dom/umd/react-router-dom.min.js"></script>
      <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
      
      <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js' type='text/javascript'></script>
      <script>
        window.socketToken = '<%- socket_token %>';
        window.userName = '<%- name %>';
      </script>
      <script src='script.js' type="text/babel"></script>
    </body>
</html>